.userData_link {
    color: black;
}

.startLearning_btn {
    font-size: 16px;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
}

.wordName {
    float: left;
    margin-left: -30px;
}

.wordCorrect {
    margin-right: 5px;
}

.wordIncorrect {
    float: right;
    padding-right: 10px;
}

.wordUList {
    border: 1px solid black;
}

.wordListBox {
    border: 1px solid black;
    margin-left: 37%;
    margin-right: 37%;
}

.wordHeader, .wordScores {
    display: inline-block;
    margin-top: -20px;
}

.wordHeader {
    padding-right: 30px;
    margin-left: 30px;
}

.wordScores {
    padding-left: 60px;
}