.startLearning_btn {
    font-size: 18px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 110px;
    margin-right: 20px
}

.userData_score {
   display: inline-block;
   padding-left: 30px;
}

.wordName {
    float: left;
    margin-left: -30px;
}
.answers{
    display: flex;
    justify-content: flex-end;
    
}
.wordCorrect {
    margin-right: 5px;
}

.wordIncorrect {
    float: right;
    padding-right: 10px;
}

.wordUList {
    
}

.wordListBox {
    border: 1px solid black;
    margin-left: 37%;
    margin-right: 37%;
}

.wordHeader, .wordScores {
    display: inline-block;
    margin-top: -20px;
}

.wordHeader {
    padding-right: 30px;
    margin-left: 30px;
}

.wordScores {
    padding-left: 60px;
}