.learning{
  margin: 150px 15px 0;
  text-align: center;
}

#learn-guess-input {
  border: 1px solid black;
  font-size: 18px;
  background-color: white;
  padding-left: 5px;
}

.learning_answer_form_inputs{
  margin-top: 10px;
}

.learning__word {
  color: black;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: Bold;
  text-transform: capitalize;
}

.Learning__Prompt {
  margin:20px;
}

.ansSubmit{
  width: 200px;
}

.try_another{
  width: 200px;
}

.DisplayScorep {
  font-size: 18px;
}


